.env
security/ssl/server.key
security/ssl/server.crt

# Editor / tooling
.vscode/

# macOS
.DS_Store

.venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# mariam test files
/test

*.sqlite3

# Python
__pycache__/
*.py[cod]
*$py.class

services/catalog-service/media/